<template>
    <div class="login-new-l">
        <Form ref="loginForm" :model="form" :rules="rules" @keydown.enter.native="handleSubmit">
            <FormItem prop="userName">
                <Input v-model="form.userName" placeholder="请输入用户名">
                    <span slot="prepend">
                        <Icon :size="23" type="ios-person-outline"></Icon>
                    </span>
                </Input>
            </FormItem>
            <FormItem prop="password">
                <Input type="password" v-model="form.password" placeholder="请输入密码">
                    <span slot="prepend">
                        <Icon :size="23" type="ios-lock-outline"></Icon>
                    </span>
                </Input>
            </FormItem>
            <FormItem prop="ucode" style="position:relative;" v-if="true">
                <Input type="text" v-model="form.ucode" placeholder="请输入验证码"
                style='width:230px;'>
                    <span slot="prepend">
                        <Icon :size="23" type="ios-apps-outline"></Icon>
                    </span>
                </Input>
                <img :src="codeUrl" alt="获取验证码" class="ucode" @click="getCode">
            </FormItem>
            <Button @click="handleSubmit" long type="primary" size='small'>立即登录</Button>
            <Button type="primary" @click="registUser" long size='small' style="margin-top:20px">注册</Button>
        </Form>
    </div>
</template>
<script>
import { getCode, validCode } from '@/api/index'
const validCodeRule =(rule, value, callback) => {
    if(!value) {
        callback(new Error('请填写验证码'))
    }else{
        validCode(value).then(res => {
            if(res.data.flag){
                callback()
            }else{
                callback(new Error('验证码错误'))
            }
        }).catch(() => {
            callback(new Error('验证码错误'))
        })
    }
}
export default {
    name: 'LoginForm',
    props: {
        userNameRules: {
            type: Array,
            default: () => {
                return [
                    { required: true, message: '账号不能为空', trigger: 'blur' }
                ]
            }
        },
        passwordRules: {
            type: Array,
            default: () => {
                return [
                    { required: true, message: '密码不能为空', trigger: 'blur' }
                ]
            }
        },
        onSuccess: {
            type: Function,
            default: () => {
                return () => { }
            }
        }
    },
    data() {
        return {
            form: {
                userName: '',
                password: '',
                ucode:''
            },
            codeUrl:''
        }
    },
    computed: {
        rules() {
            return {
                userName: this.userNameRules,
                password: this.passwordRules,
                ucode:[{required:true,validator:validCodeRule,trigger:'blur'}]
            }
        }
    },
    mounted() {
        this.getCode()
    },
    methods: {
        // 获取验证码
        getCode() {
            getCode().then(res => {
                let that = this
                let reader = new FileReader()
                reader.onload = function (file) {
                    that.codeUrl = file.target.result
                }
                reader.readAsDataURL(res.data)
            })
        },
        handleSubmit() {
            this.$refs.loginForm.validate((valid) => {
                if (valid) {
                    this.$emit('on-success-valid', {
                        username: this.form.userName,
                        password: this.form.password
                    })
                }
            })
        },
        cancelLogin() {
            this.$emit('on-cancel-login');
            this.form = {
                userName: "",
                password: ""
            }
        },
         registUser () {
            console.log("用户注册")
            this.$router.push("/register.html");
        }
    }
}
</script>
<style lang="less">
@import "./index.less";
.login-new-l .ivu-form-item {
    margin-bottom: 20px;
}
.login-new-l .ivu-input {
    height: 40px;
    background: #112576;
    border: 1px solid #0764d5;
    color: #fff;
    padding: 4px 16px;
}
.login-new-l input::-webkit-input-placeholder {
    color: #0764d5;
    font-size: 14px;
}
.login-new-l .ivu-input-group-prepend {
    border: 1px solid #0764d5;
    background-color: #0764d5;
    color: #35ebfe;
}
.login-new-l .ivu-btn-primary {
    background-color: #0080ff;
}
.login-new-l .ivu-btn > span {
    letter-spacing: 5px;
}
.ucode {
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    height: 40px;
    z-index: 999;
    border: 1px solid #666;
    border-radius:4px ;
}
</style>

