<template>
    <div class="registerBody">
        <img style="margin-top: 20px; height: 130px;margin-left: 50px;" src="../../assets/images/login/logo-china.png" alt="" />
        <div class="login-title">
            <div class="login-name">
                <div style="font-size: 35px; letter-spacing: 10px;">
                    易研∙科研管理与综合分析
                </div>
                <!-- <div style="font-size: 18px; letter-spacing: 0px;">Scientific Research Management and Comprehensive Analysis</div> -->
            </div>
            <div class="login-con">
                <Row style="height: 100%;">
                    <Col style="height: 100%;" :span="10">
                    <div class="login-content"></div>
                    </Col>
                    <Col :span="14">
                    <Card icon="log-in" :bordered="false" :dis-hover="true" style="background-color: transparent;">
                        <div class="form-con">
                            <login-form @on-success-valid="handleSubmit"></login-form>
                        </div>
                    </Card>
                    </Col>
                </Row>
            </div>
        </div>
        <div class="login-footer"><b>中国医学科学院医学信息研究所 版权所有</b></div>
    </div>
</template>

<script>
import LoginForm from "_c/login-form";
import { mapActions } from "vuex";
import { CreateResearchProjectApi, TemplateResultApi } from '@/api'
export default {
    components: {
        LoginForm
    },
    methods: {
        ...mapActions(["handleLogin", "getUserInfo", "getMenuList"]),
        handleSubmit({ username, password }) {
            this.handleLogin({ username, password }).then(res => {
                if (res.data.flag === false) {
                    this.$Message.error({
                        content: res.data.data,
                        duration: 5
                    });
                } else {
                    // 当前需要直接跳转填报的表单
                    // this.getMenuList().then(() => {
                    //     // console.log(res);
                    // });
                    this.getUserInfo().then((res) => {
                        if (res.data.code === '1') {
                            let flag = res.data.data.roles.some(role => {
                                return ['超级管理', '管理员'].includes(role.roleName)
                            })
                            if (flag) {
                                // 当是管理员或者超级管理员直接跳转到主页
                                this.$router.push({
                                    name: this.$config.homeName
                                });
                            } else { //当是填报人员，根据当前指定填报的表单直接跳转到填报页  指定表单为方法内写死
                                this.getTemplateAndToFill()
                            }
                        } else {
                            this.$Message.error('获取用户信息失败，请刷新重试')
                        }

                    });
                }
            })
                .catch(err => {
                    this.$Message.error({
                        content: "用户名密码错误",
                        duration: 3
                    });
                });
        },
        // 创建一条新填报结果
        async createNewResult(templateMasterId) {
            return await TemplateResultApi.createNewResult(templateMasterId)
        },
        // 医院队列研究调查-登录直接跳转填报
        async getTemplateAndToFill() {
            // 需要填报表单所属任务ID 正式
            const projectId = '62cd8764f9f7c238217a47d960e16f72'
            const templateId = '813e5d62ce1d7f7830dec515159494f8'
            // 测试
            // const projectId = '9d81a5d3188ea7138245b17ec83bae4c'
            // const templateId = '445e3ebecb06546baffb737a73e643ee'
            // 当前填报表单和表单填报结果
            let templateAndResult = await CreateResearchProjectApi.checkResearchProject(projectId)
            let {code, flag, data } = templateAndResult.data
            if (flag === false && code !== '1') {
                this.$Message.error({content:'获取填报信息失败，请刷新重试',duration:4})
            } else {
                let { templateMasters } = data
                let currentTemplate = null
                for (let i = 0; i < templateMasters.length; i++) {
                    if (templateMasters[i].id === templateId) {
                        currentTemplate = templateMasters[i]
                        break
                    }
                }
                if (currentTemplate !== null) {
                    // 获取填报记录
                    let { resultMaster } = currentTemplate
                    // 如果填报结果为为空
                    if (resultMaster == null) {
                        this.createNewResult(templateId).then(res => {
                            if (res.data.code === '1') {
                                this.$router.push({
                                    path: "/form-fill.html?templateId=" + templateId + '&templateResultId=' + res.data.data.id +'&fillType=' + 1,
                                })
                            } else {
                                this.$Message.error({
                                    content: '创建填报记录失败',
                                    duration: 3
                                })
                            }
                        }).catch(err => {
                            this.$Message.error({
                                content: '创建填报记录失败',
                                duration: 3
                            })
                        })
                    }else{
                          this.$router.push({
                            path: "/form-fill.html?templateId=" + templateId + '&templateResultId=' + resultMaster.id +'&fillType=' + 1,
                        })
                    }
                }
            }
        }

    },
    mounted() {
        this.getUserInfo()
    }
};
</script>
<style lang="less">
@import "./login.less";
.login-name {
    img {
        width: 100%;
        height: 100%;
    }
}
</style>
<style scoped>
.registerBody {
    width: 100%;
    height: 100%;
    background-image: url("../../assets/images/login/login-1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    position: relative;
}

.login-content {
    height: 100%;
    width: 100%;
    background-image: url("../../assets/images/login/bg.png");
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.ivu-card-head {
    border-bottom: none;
}

.login-name {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    font-size: 30px;
    color: #fff;
}
.login-footer {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 10px;
    color: #0080ff;
    font-size: 16px;
    font-family: sans-serif;
}
</style>
