<template>
  <div class="layout">
    <Layout style="height:100%;">
      <report-header :currentTemplateResultMaster="currentTemplateResultMaster" @on-save-page='savePage'></report-header>
      <!-- 填报组件 -->
      <fill-report ref='reportUrl' v-if="templateId&&templateResultId" :templateId="templateId" :resultMasterId="templateResultId" :resultMaster='currentTemplateResultMaster' :returnKind=false></fill-report>
    </Layout>
  </div>
</template>
<script>
  import {loginWithCode} from '@/api/user'
  import {mapActions} from 'vuex'
  import {TemplateResultApi} from '@/api/'
  import FillReport from '../component/fill-report/fill-report-url.vue'
  import ReportHeader from "./report-header";
  export default {
    name: "report",
    data() {
      return {
        code: "",
        templateId: "",
        templateResultId: "",
        currentTemplateResultMaster:{
          templateName:""
        }
      }
    },
    components:{
      ReportHeader,
      FillReport
    },
    beforeMount() {
      this.code = this.$route.params.code;
    },
    mounted() {
      loginWithCode(this.code).then(res => {
        this.templateId =res.data.templateId;
        let tname = res.data.name
        TemplateResultApi.createNewResultWhitUrl(res.data.templateId).then(res=>{
            if(res.data.flag == true){
                this.templateResultId = res.data.data.id
                this.currentTemplateResultMaster = res.data.data ;
                this.currentTemplateResultMaster.templateName = tname
            }else{
                this.$Message.error(res.data.data)
            }


        })
      }).catch(err => {
      })
    },
    methods: {
      ...mapActions([
        'handleLogin',
      ]),
      savePage(){
        this.$refs.reportUrl.saveTemplateResult()
      }
    }
  }
</script>
<style scoped>
  .layout {
    border: 1px solid #d7dde4;
    background: #f5f7f9;
    position: relative;
    border-radius: 4px;
    height: 100%;
  }
</style>
