<template>
    <div>
        <div class="top-steps">
            <Steps :current="4">
                <Step title="填报" icon="md-filing"></Step>
                <Step title="保存" icon="md-briefcase"></Step>
                <Step title="打印" icon="md-print"></Step>
                <Step title="上传" icon="md-cloud-upload"></Step>
                <Step title="提交" icon="ios-send"></Step>
            </Steps>
        </div>
        <fill-report ref="report" menuKind="steps" :templateId="templateId" :resultMasterId="templateResultId" 
                    :resultMaster='currentTemplateResultMaster' :type='type' @on-newResult='getNewResult'>
        </fill-report>
    </div>

</template>
<script>
import FillReport from "../component/fill-report/fill-report";
import { TemplateResultApi } from '@/api/'
export default {
    components: { FillReport },
    name: "fill-form",
    data() {
        return {
            templateId: '',
            templateResultId: '',
            currentTemplateResultMaster: {},
            type: 'edit'
        }
    },
    mounted() {
        this.templateId = this.$route.query.templateId;
        this.templateResultId = this.$route.query.templateResultId;
        if (this.$route.query.type != undefined) { // 查看或者编辑模式
            this.type = this.$route.query.type
        }
        if (!this.templateId) {
            this.$Message.error({ content: "获取模板信息出错！" })
        }
        if (!this.templateResultId) {
            this.$Message.error({ content: "获取填报信息出错！" })
        } else {
            this.loadTemplateMasterResult();
        }
    },
    methods: {
        loadTemplateMasterResult() {
            TemplateResultApi.getTemplateResultMaster(this.templateResultId).then(res => {
                if (res.data.code === '1') {
                    this.currentTemplateResultMaster = res.data.data;
                }
            })
        },
        // 上传成功后更新地址
        getNewResult(data) {
            this.currentTemplateResultMaster = data
        }
    }
}
</script>
<style lang='less' scoped>
.top-steps{
    width: 1200px;
    margin: 0 auto;
}
</style>
